.next-steps .fa-link {
  margin-right: 5px;
}

.navbar-brand.logo, .logo {
  background-image: url('./assets/HackathonLogo.png') !important;
  padding: 0;
  width: 150px;
  height: 150px;
  background-color: inherit;
  box-shadow: none;
}


/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

.react-datetime-picker__wrapper {
  border-radius: .25em;
  border: 1px solid #ced4da !important;
  padding: 0.45em !important;
}

.nav-container {
  position: sticky;
  top: 0;
  z-index: 10;
}

footer {
  z-index: 1000;
  min-height: 80px;
}
footer .logo {
  margin-top: 10px !important;
}

h2 {
  font-size: 1.5rem !important;
}

.content-wrapper-bg {
  background-color: lightgray;
}

.fa {
  font-size: 32px;
  color: #4022e9;
  display: block;
  background: -webkit-linear-gradient(#47abfc, #356ad2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon {
  background-color: #fff;
  border: 1px solid #eee;
  text-align: center;
  width: 100px;
  height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: all .2s;
}

.btn-primary {
  background: -webkit-linear-gradient(#47abfc, #356ad2);
  padding: 0.6rem;
  border-radius: 7px;
  border: none;
}
